body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
}


.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: rgb(172, 169, 169);
    padding-left: 30px; 
}


input{
    background-color: #272727; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}


textarea{
    background-color: #272727; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}


label{
    display: block; 
    float: center;  
}


.buttonFormulario{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #272727; 
    border-color: white; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}


.buttonFormulario p{
    color: white; 
}


.obligatorio{
    color: white; 
}


.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}


.h1Formulario{
    font-size: 39px;  
    text-align: center; 
    padding-bottom: 20px; 
    color: white;
    text-decoration-line: black;
}


h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: white; 
    text-align: center;  
}


.pFormulario {
    font-size: 14px; 
    color: #0e0e0e; 
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    border: 1px solid white;
    color: white;
    background-color: black;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid white;
    color: white;
    background-color: black;
}
